/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
	
}
img{
	height:20%
	width:20%	
}
.d1{
	
}
.book-library{
	background-color:#ffffff;
	display:flex;
flex-direction:column;
	dustify-content:space-around;
	
}
#p1{
	background-color:white;
	height:2vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
}
.book{
	background-color:
	display:flex;
	flex-direction:column;
	
}
#author{
	
	color:rgb(119,119,119);
	background-color:rgb(46,204,113);
}
img{
	display:flex;
	justify-content:center;
	display-direction:column;
}
#price{
	background-color:rgb(46,204,113);
	color:white;
	height:5vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	padding-top:10px;
}
#price1{
	background-color:rgb(46,204,113);
	color:white;
	height:5vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	padding-top:10px;
}
#price2{
	background-color:rgb(46,204,113);
	color:white;
	height:5vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	padding-top:10px;
}